data/checkingtext.db filter=lfs diff=lfs merge=lfs -text
data/test[[:space:]]data.xlsx filter=lfs diff=lfs merge=lfs -text
screenshots/11-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/14-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/14-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/18-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/1-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/2-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/5-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/22-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/27-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/3-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/8-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/1-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/11-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/13-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/19-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/20-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/24-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/6-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/8-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/12-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/17-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/18-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/20-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/5-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/7-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/16-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/21-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/24-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/27-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/3-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/10-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/10-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/13-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/21-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/2-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/22-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/25-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/26-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/15-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/15-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/17-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/19-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/6-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/7-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/4-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/4-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/9-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/9-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/12-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/16-fr.png filter=lfs diff=lfs merge=lfs -text
screenshots/25-en.png filter=lfs diff=lfs merge=lfs -text
screenshots/26-fr.png filter=lfs diff=lfs merge=lfs -text
